<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css//SearchEngine.css') }}"/>
    <title></title>
</head>
<body>
    <form class="search" action="http://localhost:5050/result" method="post">
        <div class="searchbar">
            <input type="text" placeholder="Search.."/>
        </div>
        <div class="searchclick">
            <button type="submit">Search</button>
        </div>
    </form>
</body>
</html>